/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a2d4ff; /* Color de fondo gris claro */
    margin: 0;
    padding: 0;
}

/* Responsive Design */
/* Ajustes para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    body { 
        font-size: 14px;
    }
}

/* Ajustes para dispositivos más grandes */
@media screen and (min-width: 1200px) {
    body { 
        font-size: 18px;
    }
}

/* Estilos para los encabezados de h2 */

h2 {
    margin-top: 1.5em; /* 1.5 veces el tamaño de la fuente actual */
}

ul {
    list-style-type: none;
    padding: 0;
}

input[type="text"],
button {
    margin-top: 10px;
}

  /* Estilos para el área de mensajes */
#messages {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

#messages li {
    margin-bottom: 5px;
}

  /* Estilos para el área de mensajes privados */
#privateMessages {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

#privateMessages li {
    margin-bottom: 5px;
}

  /* Estilos para el botón */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

  /* Estilos para la entrada de texto */
input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

  /* Estilos para el área del título */
h2 {
    color: #007bff;
}
